<h1>Welcome to RCB
</h1>
<p>Dear <%=@student.first_name%>
</p>
<p>Your account was created successfully
</p>
<p>To activate your account use the below password to login
</p>
<strong> <%=@student.password%> </strong>